name: 'Pkg review'
on:
  workflow_dispatch:

jobs:
  publish:
    name: Pkg Review
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup bun
        uses: ./.github/setup-bun

      - name: Setup pnpm
        uses: ./.github/setup-pnpm
        
      - name: Build
        run: bun run build && bun run build:type

      - name: Release
        run: pnpx pkg-pr-new publish --compact --pnpm './packages/*'